.record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .video {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
  }
  
  .controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button {
    background-color: #1c1c1c;
    color: white;
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
  }
  