.video-playback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .video {
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
  }
  